{% extends 'layout.html.twig' %}

{% block title %}
Projet-Symfony - Page d'accueil  !{% endblock %}

{% block body %}

 <h1>Bienvenue à ma page d'accuei! </h1>

    <h2>This is a bref presentation of my page</h2>
    
{% endblock %}
